@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

html { scroll-behavior: smooth; }

body {
  background-color: rgba(255, 251, 235, 0.2);
}

.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #e7e5e4; border-radius: 10px; }

@layer components {
  .input {
    @apply w-full px-4 py-2.5 bg-stone-50 border border-stone-200 rounded-lg focus:outline-none focus:border-rose-800 focus:bg-white text-sm text-stone-900 transition-all;
  }
}
